* {
  background-image: url("../Images/Background1.png");
}

body {
    margin: auto;
    font-family: "Times New Roman", Georgia, Serif;
    font-size: 18px;
    line-height: 1.5;
  }
  
  .container {
    padding: 64px;
    margin-left: 7%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column1 {
    float: left;
    width: 40%;
    display: block;
  }
  
  .column2 {
    float: left;
    width: 49.99999%;
  }
  
  h1 {
    font-size: 200%;
     font-family: 'Courgette';
    text-align: center;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 130%;
    font-family: 'Courgette';
    text-align: center;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column1,
    .column2 {
      width: 100%;
      text-align: center;
    }
    
    img {
      margin: auto;
    }
    }
  
  .progbar {
    margin: 5%;
  }
  
  .containerB {
    width: 100%;
    background-color: #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
  }
  
  .bar {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
  }
  
  .project {
    width: 40%; 
    background-color: #310b12;
    
  }
  .web {
    width: 62.5%; 
    background-color: #580c05;
  }
  
  .novel {
    width: 20%; 
    background-color: #751132;
  }
  