@font-face{
  font-family: khand;
  src:url(../Fonts/Khand-Regular.ttf)
}

@font-face{
  font-family: kalam;
  src:url(../Fonts/Kalam-Regular.ttf)
}


:root{
  --main-font: khand;
  --first-font: kalam;
}

body, html {
    margin: auto;
    font-size: 18px;
    padding-top: 3%;
    background-color: #eae9eb;
    line-height: 1.5;
  }

  p {
    color: #751132;
    font-family:  var(--main-font);
    font-size: 110%;
    text-align: center;
  }
  
  .container {
    padding: 64px;
    margin-left: 7%;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both
  }
  
  .column1 {
    float: left;
    width: 40%;
    display: block;
  }
  
  .column2 {
    float: left;
    width: 49.99999%;
  }
  
  h1 {
    font-size: 500%;
    font-family: 'Julee';
    color: #310b12;
    text-align: center;
    margin-bottom: 0;
  }
  
  h2 {
    font-size: 130%;
    font-family: 'Julee';
    color: #310b12;
    text-align: center;
  }
  
  img {
    display: block;
    max-width: 100%;
  }
  
  @media screen and (max-width: 1000px) {
    .column1,
    .column2 {
      width: 100%;
      text-align: center;
    }
    
    img {
      margin: auto;
    }
    }
  
  .progbar {
    margin: 5%;
  }
  
  .containerB {
    width: 100%;
    background-color: #ddd;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
  }
  
  .bar {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
  }
  
  .project {
    width: 100%; 
    background-color: #832f86;
    
  }
  .web {
    width: 100%; 
    background-color: #ba31be;
  }
  
  .novel {
    width: 100%; 
    background-color: #c172c4;
  }
  