body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 2% 0;
    background-image: url("../Images/SiteBackground.png");
  }

  .bgimage {
    background-image: url("../Images/SiteBackground.png");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  h1 {
   color: #310b12;
   font-family: 'Courgette';
   font-size: 250%;
   padding-top: 5%;
  }
  
  h2 {
   font-family: 'Courgette';
   padding-top: 3%;
   color:#751132;
   font-size: 150%
  }

  h3 {
    font-family: 'Courgette';
    color:#751132;
    font-size: 130%;
   }

   p {
    font-family: 'Courgette';
    color:#943a49;
    font-size: 100%;
   }

   ul {
    font-family: 'Courgette';
    color:#943a49;
    font-size: 100%;
    text-align: left;
   }
