body {
    background-image: url("../Images/HomePage.gif");
    background-color: #eae9eb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    margin: 0;
  }
  
  h1 {
    font-family: 'Julee';
    letter-spacing: 3px;
    font-size: 20vw;
    margin-top: 11.5%;
    margin-bottom: 0;
    text-align: center;
  }

  p {
    font-family: 'Lovers Quarrel';
    margin: 0;
    letter-spacing: 3px;
    font-size: 2vw;
    text-align: center;
  }

