     .pagination {
       display: inline-block;
       padding-top: 7.5%;
       padding-bottom: 5%;
       text-align: center;
       padding-left: 31.5%;
     }
     
     .pagination a {
       color: black;
       float: left;
       padding: 8px 16px;
       text-decoration: none;
     }
     
     .pagination a.activeP {
       background-color: #733236;
       color: white;
       border-radius: 5px;
     }
     
     .pagination a:hover:not(.active) {
       background-color: #733236;
       border-radius: 5px;
     }