body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 2% 0;
    background-color: #eae9eb;
  }
  
  h1 {
   text-align: center;
   padding-top: 4%;
   color: #000;
   font-family: 'Courgette';
   font-size: 300%;
  }
  
  h2 {
   text-align: center;
   font-family: 'Courgette';
   color:#751132;
   font-size: 130%
  }

  .column {
    float: left;
    width: 20%;
    padding: 5% 2.5%;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 7%;
    padding-bottom: 10%;
    background-size: cover;
    text-align: center;
    background-color: ##eae9eb;
    border-radius: 16px;
  }
  
  
  .button {
    background-color: #310b12;
    border: none;
    font-size: 100%;
    color: white;
    padding: 3% 10%;
    text-align: center;
    text-decoration: none;
    font-family: 'Julee';
    display: inline-block;
    margin: 10% 3%;
    outline: none;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 16px;
  }
  
  .button:hover {
    background-color: #ac818f;
  }

 a {
      text-decoration: none;
      display: inline-block;
      color: white;
  }
  
  .button:active {
    background-color: #b496a4;
    box-shadow: 1px 0.7px #b496a4;
    transform: translateY(4px);
  }
  
  .glow {
    font-size: 80px;
    color: #000;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ac818f, 0 0 40px #ac818f, 0 0 50px #ac818f, 0 0 60px #ac818f, 0 0 70px #ac818f;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ba31be, 0 0 40px #ba31be, 0 0 50px #ba31be, 0 0 60px #ba31be, 0 0 70px #ba31be, 0 0 80px #ba31be;
    }
  }