body {
  background-color:#eae9eb;
}

.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-size: cover;
}

h1 {
  padding-top: 3%;
  text-align: center;
  font-family: 'Julee';
  font-size: 500%;
}

.text {
  height: 70px;
  background-color:#eae9eb;
  font-size:150%; 
  text-align:center;
  padding-top: 1%;
  color: black;
  font-weight: bold;
  font-family: 'Julee';
}

.pagination {
  display: inline-block;
  padding-top: 7.5%;
  padding-bottom: 5%;
  text-align: center;
  padding-left: 14%;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.activeP {
  background-color: #832f86;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #832f86;
  border-radius: 5px;
}

@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}