.parallax {
  min-height: 350px; 
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-family:'Julee';
  font-size: 300%;
}

.text {
  height:65px;
  background-color:#eae9eb;
  font-size:150%; 
  text-align:center;
  padding-top: 1%;
  color:#751132;
  font-family:'Marck Script';
}