body, html {
  height: 100%;
  margin: 0;
  background-color: #943a49;
}

.bgimage {
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  font-size: 300%;
  font-family: 'Courgette';
  color: white;
  padding-top: 5%;
}

h2 {
  text-align: center;
  font-size: 100%;
  font-weight: normal;
  color: white;
  font-family: 'Courgette';
}

h3 {
  font-size: 130%;
  text-align: center;
}

p {
  text-align: center;
}

.column {
  float: left;
  border-radius: 16px;
  width: 40%;
  margin-top: 3%;
  padding: 5% 5%;
  height: 200px;
  color: white;
  padding-bottom: 3%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.play {
	width: 0;
	height: 0;
	border-top: 25px solid transparent;
	border-left: 50px solid #000;
	border-bottom: 25px solid transparent;
    margin-top: 10%;
    margin-left: 45%;
}
